.menu {
  position: fixed;
  top: 20px;
  right: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  z-index: 99;

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding-bottom: 12px;
    }

    &.active {
      a {
        border-bottom: 2px solid #fff;
      }
    }
  }
}

.section{
  text-align: center;
  color: #fff;
}

#fp-nav {
  ul {
    li {
      span:not(.fp-sr-only) {
        background: #fff
      }
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#mainLogo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 60px;
    margin-right: 24px;
  }

  .logo-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
}

#mobileMenu {
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 99;
  font-size: 1.5rem;
  color: #fff;

  .drawer-layer {
    transition: all .3s ease-in-out;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .menu {
    display: none;
  }

  .container {
    max-width: 100%;
    margin: 0;
  }

  #mainLogo {
    top: 15px;
    left: 20px;
  }

  #mobileMenu {
    display: inline-block;

    .drawer-btn {
      cursor: pointer;
    }

    .drawer-layer {
      width: 250px;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -250px;
      z-index: 999;
      background: #102b49;

      &.on {
        right: 0;
      }

      .drawer-close {
        padding: 30px 15px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 15px;

        li {
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            padding-bottom: 12px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}